<a href="https://colab.research.google.com/github/GoryachevDaniil/DS_ML_Intro_stepik.ipynb/blob/main/DS_ML_Intro_stepik.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
students_performance = pd.read_csv('/content/gdrive/My Drive/DS_ML_Intro_stepik/StudentsPerformance.csv', sep=',')

In [ ]:
students_performance

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
students_performance.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [ ]:
students_performance.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [ ]:
students_performance.groupby('gender').aggregate({'writing score' : 'mean'})

        writing score
gender
female      72.467181
male        63.311203

In [ ]:
students_performance.shape

(1000, 8)

In [ ]:
students_performance.size

8000

In [ ]:
students_performance.iloc[0:5, 0:]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
students_performance.iloc[[0, 4], [0, -1, -2, -3]]

   gender  writing score  reading score  math score
0  female             74             72          72
4    male             75             78          76

In [ ]:
students_performance_with_name = students_performance.iloc[[0, 4 , 9]]

In [ ]:
students_performance_with_name.index = ['Nastya', 'Vasya', 'Katya']

In [ ]:
students_performance_with_name

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Nastya,female,group B,bachelor's degree,standard,none,72,72,74
Vasya,male,group C,some college,standard,none,76,78,75
Katya,female,group B,high school,free/reduced,none,38,60,50

In [ ]:
students_performance_with_name.loc[['Vasya','Katya'], ['gender', 'writing score']]

       gender  writing score
Vasya    male             75
Katya  female             50

In [ ]:
students_performance_with_name.iloc[:, 0] # pd.Series

Nastya    female
Vasya       male
Katya     female
Name: gender, dtype: object

In [ ]:
my_series_1 = pd.Series([1, 2, 3], index=['Nastya', 'Vasya', 'Katya'])
my_series_2 = pd.Series([4, 5, 6], index=['Nastya', 'Vasya', 'Katya'])

In [ ]:
pd.DataFrame({'col_name_1' : my_series_1, 'col_name_2' : my_series_2})

        col_name_1  col_name_2
Nastya           1           4
Vasya            2           5
Katya            3           6

In [ ]:
students_performance_with_name['gender'] # pd.Series

Nastya    female
Vasya       male
Katya     female
Name: gender, dtype: object

In [ ]:
students_performance_with_name[['gender']] # pd.DataFrame

        gender
Nastya  female
Vasya     male
Katya   female

In [ ]:
titanic = pd.read_csv('/content/gdrive/My Drive/DS_ML_Intro_stepik/titanic.csv', sep=',')

In [ ]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
titanic.shape

(891, 12)

In [ ]:
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
titanic.dtypes.value_counts()

int64      5
object     5
float64    2
dtype: int64

In [ ]:
students_performance.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
mean_writing_score = students_performance['writing score'].mean()

In [ ]:
query = (students_performance['writing score'] > mean_writing_score) & (students_performance.gender == 'female')

In [ ]:
students_performance.loc[students_performance['writing score'] > mean_writing_score]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
...,...,...,...,...,...,...,...,...
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
students_performance.loc[query]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
...,...,...,...,...,...,...,...,...
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
students_performance.loc[students_performance.gender == 'female']

     gender  writing score
0    female             74
1    female             88
2    female             93
5    female             78
6    female             92
..      ...            ...
993  female             74
995  female             95
997  female             65
998  female             77
999  female             86

[518 rows x 2 columns]

In [ ]:
students_performance.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
# У какой доли студентов из датасэта в колонке lunch указано free/reduced?
len(students_performance.loc[students_performance['lunch'] == 'free/reduced']) / len(students_performance)

0.355

In [ ]:
# Как различается среднее и дисперсия оценок по предметам у групп студентов со стандартным или урезанным ланчем?
students_performance['lunch'].value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

In [ ]:
standart_lunch_query = students_performance['lunch'] == 'standard'
free_reduced_lunch_query = students_performance['lunch'] == 'free/reduced'

In [ ]:
std_lunch_students = students_performance.loc[standart_lunch_query, ['math score', 'reading score', 'writing score']]
f_r_lunch_students = students_performance.loc[free_reduced_lunch_query, ['math score', 'reading score', 'writing score']]

In [ ]:
print('std_lunch_students:')
print(f"Mean:\nMath: {std_lunch_students['math score'].mean()}\nRading: {std_lunch_students['reading score'].mean()}\nWriting: {std_lunch_students['writing score'].mean()}\n")
print(f"Std:\nMath: {std_lunch_students['math score'].std()}\nRading: {std_lunch_students['reading score'].std()}\nWriting: {std_lunch_students['writing score'].std()}\n")
print('f_r_lunch_students:')
print(f"Mean:\nMath: {f_r_lunch_students['math score'].mean()}\nRading: {f_r_lunch_students['reading score'].mean()}\nWriting: {f_r_lunch_students['writing score'].mean()}\n")
print(f"Std:\nMath: {f_r_lunch_students['math score'].std()}\nRading: {f_r_lunch_students['reading score'].std()}\nWriting: {f_r_lunch_students['writing score'].std()}\n")

std_lunch_students:
Mean:
Math: 70.03410852713178
Rading: 71.65426356589147
Writing: 70.8232558139535

Std:
Math: 13.653500996457035
Rading: 13.830602308284629
Writing: 14.339486981713932

f_r_lunch_students:
Mean:
Math: 58.92112676056338
Rading: 64.65352112676057
Writing: 63.02253521126761

Std:
Math: 15.159956131640516
Rading: 14.895339495848573
Writing: 15.43382261658457

In [ ]:
students_performance = students_performance.rename(columns = {
                   'parental level of education' : 'parental_level_of_education',
                   'test preparation course' : 'test_preparation_course',
                   'math score' : 'math_score',	
                   'reading score' : 'reading_score',
                   'writing score' : 'writing_score'})

In [ ]:
students_performance.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
students_performance.query('math_score > 72 & gender == "female"').head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
2,female,group B,master's degree,standard,none,90,95,93
6,female,group B,some college,standard,completed,88,95,92
36,female,group D,associate's degree,standard,none,74,81,83
38,female,group D,associate's degree,free/reduced,completed,75,90,88
56,female,group E,associate's degree,standard,completed,82,85,86

In [ ]:
wr_sc_qr = 78
students_performance.query('writing_score > @wr_sc_qr').head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
6,female,group B,some college,standard,completed,88,95,92
16,male,group C,high school,standard,none,88,89,86
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80

In [ ]:
score_cols = [i for i in list(students_performance) if 'score' in i] # не pandas way
score_cols

['math_score', 'reading_score', 'writing_score']

In [ ]:
students_performance[score_cols].head() # не pandas way

   math_score  reading_score  writing_score
0          72             72             74
1          69             90             88
2          90             95             93
3          47             57             44
4          76             78             75

In [ ]:
students_performance.filter(like='score') # pandas way

     math_score  reading_score  writing_score
0            72             72             74
1            69             90             88
2            90             95             93
3            47             57             44
4            76             78             75
..          ...            ...            ...
995          88             99             95
996          62             55             55
997          59             71             65
998          68             78             77
999          77             86             86

[1000 rows x 3 columns]

In [ ]:
students_performance_with_name.filter(like='s', axis=0) # pandas way

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Nastya,female,group B,bachelor's degree,standard,none,72,72,74
Vasya,male,group C,some college,standard,none,76,78,75

In [ ]:
# Важной частью нашего курса будут задачи на программирование. Давайте попробуем решить первую задачу вместе.
# В переменной df  сохранен датафрэйм с произвольным числом колонок и строк. Отберите колонки, в которых есть '-' в датафрэйме df (вот соответствующий датасэт). Сохраните их в переменную selected_columns
# Если в условии задачи сообщается, что в некой переменной уже сохранен датафрэйм или другой объект, не нужно пересоздавать его самостоятельно, сразу начинайте работать с этой переменной.

In [ ]:
df = pd.read_csv('/content/gdrive/My Drive/DS_ML_Intro_stepik/column_hell.csv', sep=',')
df

,yrh&6,ohku,q,hfxx,umeca-4,apj,g,ijvnixxo,kudbpyw-3,upubjv,...,fi,clsruyy,g&6,qo$6,ap,o,sladymzr,tif,wuikzxt,wzuvc
0,0.288397,0.911359,0.488069,0.074599,0.016124,0.090555,0.560810,0.110975,0.430787,0.548763,...,0.793122,0.070335,0.145115,0.686579,0.071681,0.563068,0.815201,0.081902,0.333237,0.185148
1,0.861276,0.134987,0.701885,0.897921,0.507115,0.740151,0.963179,0.712024,0.671662,0.497596,...,0.477181,0.767931,0.996055,0.948774,0.054327,0.087341,0.072166,0.856081,0.120481,0.622113
2,0.775577,0.832874,0.862665,0.831049,0.003274,0.703112,0.509795,0.573296,0.286411,0.282792,...,0.421542,0.770413,0.749468,0.395022,0.307752,0.535575,0.341393,0.971201,0.714558,0.702453
3,0.857910,0.555818,0.598305,0.473988,0.784139,0.427963,0.725103,0.286610,0.863717,0.545562,...,0.240252,0.010355,0.759912,0.965837,0.110719,0.439488,0.816526,0.111621,0.373365,0.461615
4,0.748652,0.451725,0.252619,0.584361,0.011265,0.051115,0.755444,0.627191,0.206172,0.955043,...,0.846165,0.043458,0.209347,0.028276,0.700446,0.203503,0.181903,0.428842,0.099398,0.175227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.665300,0.744322,0.377087,0.809735,0.220817,0.248306,0.131914,0.217087,0.434444,0.852261,...,0.469934,0.940416,0.012272,0.519183,0.231462,0.778445,0.979528,0.742654,0.070859,0.595118
96,0.344394,0.182979,0.590196,0.483025,0.474131,0.031048,0.672095,0.573249,0.176011,0.847096,...,0.954133,0.073519,0.708749,0.942929,0.050652,0.902627,0.478454,0.895962,0.254965,0.963576
97,0.694568,0.507591,0.328004,0.333993,0.091637,0.356788,0.541017,0.040395,0.871606,0.680075,...,0.300616,0.172525,0.984465,0.645257,0.184107,0.322045,0.011599,0.197995,0.841725,0.695915
98,0.692840,0.220333,0.729843,0.202430,0.360106,0.980271,0.913669,0.549889,0.172385,0.049770,...,0.188240,0.053409,0.928515,0.135282,0.352835,0.046042,0.667842,0.633934,0.547764,0.232205
99,0.391447,0.989147,0.011527,0.894302,0.669284,0.158220,0.283287,0.103011,0.701505,0.281754,...,0.001720,0.414375,0.705461,0.616289,0.507954,0.736359,0.558528,0.001038,0.496094,0.172591

In [ ]:
selected_columns = df.filter(like='-')
selected_columns

     umeca-4  kudbpyw-3       g-3       v-9     fla-6  hwtbyrkp-5
0   0.016124   0.430787  0.202407  0.725508  0.305076    0.979296
1   0.507115   0.671662  0.864249  0.867818  0.358859    0.160520
2   0.003274   0.286411  0.928865  0.719159  0.340235    0.734612
3   0.784139   0.863717  0.175446  0.554744  0.049325    0.621132
4   0.011265   0.206172  0.044151  0.163643  0.048806    0.437836
..       ...        ...       ...       ...       ...         ...
95  0.220817   0.434444  0.601738  0.146333  0.918888    0.216499
96  0.474131   0.176011  0.359793  0.104707  0.257690    0.066934
97  0.091637   0.871606  0.121075  0.907699  0.313184    0.788592
98  0.360106   0.172385  0.015285  0.019571  0.060751    0.403166
99  0.669284   0.701505  0.481430  0.024944  0.644989    0.702003

[100 rows x 6 columns]

In [119]:
students_performance.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [118]:
students_performance.groupby('gender').mean()

        math_score  reading_score  writing_score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

In [126]:
students_performance.groupby('gender', as_index=False) \
        .aggregate({'math_score' : 'mean', 'reading_score' : 'mean', 'writing_score' : 'mean'}) \
        .rename(columns={'math_score' : 'mean_math_score', 'reading_score' : 'mean_reading_score', 'writing_score' : 'mean_writing_score'})

   gender  mean_math_score  mean_reading_score  mean_writing_score
0  female        63.633205           72.608108           72.467181
1    male        68.728216           65.473029           63.311203

In [135]:
mean_scores = students_performance.groupby(['gender', 'race/ethnicity']) \
        .aggregate({'math_score' : 'mean', 'reading_score' : 'mean', 'writing_score' : 'mean'}) \
        .rename(columns={'math_score' : 'mean_math_score', 'reading_score' : 'mean_reading_score', 'writing_score' : 'mean_writing_score'})
mean_scores

                       mean_math_score  mean_reading_score  mean_writing_score
gender race/ethnicity
female group A               58.527778           69.000000           67.861111
       group B               61.403846           71.076923           70.048077
       group C               62.033333           71.944444           71.777778
       group D               65.248062           74.046512           75.023256
       group E               70.811594           75.840580           75.536232
male   group A               63.735849           61.735849           59.150943
       group B               65.930233           62.848837           60.220930
       group C               67.611511           65.424460           62.712230
       group D               69.413534           66.135338           65.413534
       group E               76.746479           70.295775           67.394366

In [134]:
mean_scores.index

MultiIndex([('female', 'group A'),
            ('female', 'group B'),
            ('female', 'group C'),
            ('female', 'group D'),
            ('female', 'group E'),
            (  'male', 'group A'),
            (  'male', 'group B'),
            (  'male', 'group C'),
            (  'male', 'group D'),
            (  'male', 'group E')],
           names=['gender', 'race/ethnicity'])

In [143]:
mean_scores.loc[[('female', 'group A'), ('female', 'group B')]]

                       mean_math_score  mean_reading_score  mean_writing_score
gender race/ethnicity
female group A               58.527778           69.000000           67.861111
       group B               61.403846           71.076923           70.048077

In [144]:
students_performance.groupby(['gender', 'race/ethnicity']).math_score.nunique()

gender  race/ethnicity
female  group A           29
        group B           51
        group C           59
        group D           53
        group E           44
male    group A           38
        group B           43
        group C           56
        group D           49
        group E           38
Name: math_score, dtype: int64

In [147]:
students_performance.sort_values(['gender', 'math_score']).groupby('gender').head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
59,female,group C,some high school,free/reduced,none,0,17,10
980,female,group B,high school,free/reduced,none,8,24,23
17,female,group B,some high school,free/reduced,none,18,32,28
787,female,group B,some college,standard,none,19,38,32
145,female,group C,some college,free/reduced,none,22,39,33
91,male,group C,high school,free/reduced,none,27,34,36
327,male,group A,some college,free/reduced,none,28,23,19
76,male,group E,some high school,standard,none,30,26,22
596,male,group B,high school,free/reduced,none,30,24,15
211,male,group C,some college,free/reduced,none,35,28,27

In [149]:
students_performance['total_score'] = students_performance.math_score + students_performance.reading_score + students_performance.writing_score
students_performance.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total_score
0,female,group B,bachelor's degree,standard,none,72,72,74,218
1,female,group C,some college,standard,completed,69,90,88,247
2,female,group B,master's degree,standard,none,90,95,93,278
3,male,group A,associate's degree,free/reduced,none,47,57,44,148
4,male,group C,some college,standard,none,76,78,75,229

In [151]:
students_performance = students_performance.assign(total_score_log = np.log(students_performance.total_score))
students_performance

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total_score,total_score_log
0,female,group B,bachelor's degree,standard,none,72,72,74,218,5.384495
1,female,group C,some college,standard,completed,69,90,88,247,5.509388
2,female,group B,master's degree,standard,none,90,95,93,278,5.627621
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,4.997212
4,male,group C,some college,standard,none,76,78,75,229,5.433722
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,282,5.641907
996,male,group C,high school,free/reduced,none,62,55,55,172,5.147494
997,female,group C,high school,free/reduced,completed,59,71,65,195,5.273000
998,female,group D,some college,standard,completed,68,78,77,223,5.407172
999,female,group D,some college,free/reduced,none,77,86,86,249,5.517453

In [152]:
students_performance.drop(['total_score', 'lunch'], axis=1)

,gender,race/ethnicity,parental_level_of_education,test_preparation_course,math_score,reading_score,writing_score,total_score_log
0,female,group B,bachelor's degree,none,72,72,74,5.384495
1,female,group C,some college,completed,69,90,88,5.509388
2,female,group B,master's degree,none,90,95,93,5.627621
3,male,group A,associate's degree,none,47,57,44,4.997212
4,male,group C,some college,none,76,78,75,5.433722
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,completed,88,99,95,5.641907
996,male,group C,high school,none,62,55,55,5.147494
997,female,group C,high school,completed,59,71,65,5.273000
998,female,group D,some college,completed,68,78,77,5.407172
999,female,group D,some college,none,77,86,86,5.517453

In [160]:
dota_hero_stats = pd.read_csv('/content/gdrive/My Drive/DS_ML_Intro_stepik/dota_hero_stats.csv', sep=',')
dota_hero_stats.head()

,Unnamed: 0,attack_type,id,legs,localized_name,name,primary_attr,roles
0,0,Melee,1,2,Anti-Mage,npc_dota_hero_antimage,agi,"['Carry', 'Escape', 'Nuker']"
1,1,Melee,2,2,Axe,npc_dota_hero_axe,str,"['Initiator', 'Durable', 'Disabler', 'Jungler']"
2,2,Ranged,3,4,Bane,npc_dota_hero_bane,int,"['Support', 'Disabler', 'Nuker', 'Durable']"
3,3,Melee,4,2,Bloodseeker,npc_dota_hero_bloodseeker,agi,"['Carry', 'Disabler', 'Jungler', 'Nuker', 'Ini..."
4,4,Ranged,5,2,Crystal Maiden,npc_dota_hero_crystal_maiden,int,"['Support', 'Disabler', 'Nuker', 'Jungler']"

In [161]:
dota_hero_stats.groupby(['legs']).count()

      Unnamed: 0  attack_type  id  localized_name  name  primary_attr  roles
legs
0             11           11  11              11    11            11     11
2             95           95  95              95    95            95     95
4              7            7   7               7     7             7      7
6              3            3   3               3     3             3      3
8              1            1   1               1     1             1      1

In [162]:
accountancy = pd.read_csv('/content/gdrive/My Drive/DS_ML_Intro_stepik/accountancy.csv', sep=',')
accountancy.head()

   Unnamed: 0 Executor Type  Salary
0           0     Pupa    D      63
1           1     Pupa    A     158
2           2     Pupa    D     194
3           3     Pupa    E     109
4           4    Loopa    E     184

In [163]:
accountancy.groupby(['Executor', 'Type']).aggregate({'Salary' : 'mean'})

                   Salary
Executor Type
Loopa    A      58.000000
         B     145.166667
         C     154.333333
         D     137.714286
         E     164.000000
         F     238.000000
Pupa     A     160.833333
         B      77.000000
         C      74.500000
         D     146.500000
         E     131.200000
         F     136.250000

In [164]:
dota_hero_stats.head()

,Unnamed: 0,attack_type,id,legs,localized_name,name,primary_attr,roles
0,0,Melee,1,2,Anti-Mage,npc_dota_hero_antimage,agi,"['Carry', 'Escape', 'Nuker']"
1,1,Melee,2,2,Axe,npc_dota_hero_axe,str,"['Initiator', 'Durable', 'Disabler', 'Jungler']"
2,2,Ranged,3,4,Bane,npc_dota_hero_bane,int,"['Support', 'Disabler', 'Nuker', 'Durable']"
3,3,Melee,4,2,Bloodseeker,npc_dota_hero_bloodseeker,agi,"['Carry', 'Disabler', 'Jungler', 'Nuker', 'Ini..."
4,4,Ranged,5,2,Crystal Maiden,npc_dota_hero_crystal_maiden,int,"['Support', 'Disabler', 'Nuker', 'Jungler']"

In [165]:
dota_hero_stats.groupby(['attack_type', 'primary_attr']).attack_type.value_counts()

attack_type  primary_attr  attack_type
Melee        agi           Melee          19
             int           Melee           2
             str           Melee          35
Ranged       agi           Ranged         18
             int           Ranged         40
             str           Ranged          3
Name: attack_type, dtype: int64

In [168]:
concentrations = pd.read_csv('/content/gdrive/My Drive/DS_ML_Intro_stepik/algae.csv', sep=',')
concentrations.head()

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
1,Saccharina_japonica,Saccharina,brown,6.731070,1.255251,5.621499,6.013219,4.156700
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203
4,Cladophora_fracta,Cladophora,green,3.861470,1.648450,6.940588,2.316955,2.528886

In [172]:
mean_concentrations = concentrations.groupby(['genus']).mean()
mean_concentrations

              sucrose    alanin   citrate   glucose  oleic_acid
genus
Ascophyllum  6.825467  0.875429  5.253527  3.414961    2.432526
Cladophora   4.008792  3.997055  5.288311  2.800276    2.263472
Fucus        4.355112  3.566411  4.214878  2.814803    3.367647
Palmaria     0.704580  3.176440  5.573905  3.242090    2.245538
Saccharina   4.183596  3.524207  3.346710  4.980594    4.487252